#root{
    background-color: #EEEEEE;
    padding-left: 30%;
    
}
#heading{
    align-content: center;
    
    
}
label{
    font-size: 25px;
    font-style: bold;
}
input{
    height: 30px;
    width: 400px;
}
#submit{
    background-color:skyblue;
    
}
#heading{
    font-weight: 1000;
    color: #393646;
}